<section class="py-4 header text-center">
  <div class="container py-4 text-white">
    <header class="py-4">
      <div class="container d-flex justify-content-center">
        <h1 class="display-1">Freshu Mikan</h1>
      </div>
      <div class="container d-flex justify-content-center">
        <p>Where reviews are FRESH</p>
      </div>
    </header>
  </div>
</section>
