<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
  <div class="container">
    <a href="#" class="navbar-brand">
      <!-- Logo Image -->
      <img src="https://png.pngtree.com/template/20190626/ourmid/pngtree-orange-logo-design-image_220059.jpg" width="45" height="45" alt="" class="d-inline-block align-middle mr-2 me-4 rounded" style="vertical-align:middle">
      <!-- Logo Text -->
      <span class="text-uppercase font-weight-bold" style="color: orange">Movie Collection</span>
    </a>
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><%= link_to "Home", root_path, class: "nav-link" %><span class="sr-only">(current)</span></a></li>
      <li class="nav-item"><%= link_to "Create New list", new_list_path, class: "nav-link" %></li>
    </ul>
  </div>
</div>
</nav>
